.taskResults, .taskListResults {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.messageContainer {
    font-family: 'Roboto', sans-serif;
    color: #909090;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 200px;
}

.resultTitle {
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #909090;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
}

.updateSection {
    width: 100vw;
    height: 110vh;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin: 0;
}

.closeBtn {
    display: flex;
    justify-content: end;
    width: 35%;
}

.xBtn {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    &:hover {
        cursor: pointer;
    }
}
