.message {
    width: 70%;
    border: 2px solid white;
    align-self: center;
    display: grid;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #909090;
    font-size: 15px;
    background-color: rgba(255,255,255,0.5);
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
}