.header {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    justify-self: start;
}

.searchInput {
    border: none;
    width: 400px;
    height: 30px;
    margin: 10px;
    padding: 10px 0px 10px 10px;
    border-radius: 20px;
    &:focus {
        outline: 0;
    }
}

.inputContainer {
    display: flex;
    align-items: center;
}

.submitBtn {
    border: none;
    background-color: transparent;
}

.userProfileContainer {
    display: flex;
    height: fit-content;
    margin-right: 20px;
}

.userProfile {
    width: max-content;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    &:hover {
        cursor: pointer;
    }
}

.searchIcon:hover {
    scale: 1.1;
    cursor: pointer;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    scale: 0.9;
}

a:link {
    text-decoration: none;
}

.profileSection {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: last baseline;
    margin-top: 115px;
    margin-right: 20px;
    width: 20%;
    max-height: 50vh;
    border-radius: 10px;
    gap: 15px;
    padding: 10px;
    &:a {
        text-decoration: none;
    }
}

.iconContainer {
    position: absolute;
}

.notificationSignUser, .notificationSign {
    width: 24px;
    height: 22px;
    border-radius: 50%;
    background-color: #9ad0ff;
    text-align: center;
    padding: 2px;
}

.notificationSignUser {
    position: absolute;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #909090;
    text-align: center;
    &:link {
        text-decoration: none;
    }
}

.userIcon {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    background-color: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding-top: 16px;
    position: relative;
}

.notifications {
    gap: 5px;
    width: 100%;
}

.taskList {
    height: 30px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
