
.errorMessage, .successMessage {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-radius: 5px;
    border-style: dashed solid;
    color: white;
    animation: popout .5s ease;
    -webkit-animation: popout .5s ease;
}

.errorMessage {
    border: 2px red;
    background-color: rgba(255, 0, 0, 0.374);
}

.successMessage {
    border: 2px green;
    background-color: rgba(0, 255 ,0 ,0.374);
}

@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}